body {
    background-color: #282C34;
}

 h1 {
    text-align: center;
    font-size: 32px;
    font-family: 'Montserrat Alternates', sans-serif;    
 } 

button.btn {
    background-color: #9a77cf;
    border-color: #9a77cf;
}
  
button.btn:hover {
    background-color: #543884;
    border-color: #543884;
    transition: ease-in-out 250ms;
  }

 ul {
    list-style: none;
    color: #9B77CF;
    text-align: left;
}
li {
    font-weight: lighter;
    font-size: 18px;
}
 .overview {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 20px;
    background-color: #252930;
    color: #a13670;
    padding: 40px;
}

.weather-wrapper {
    max-width: 600px;
    margin: 0 auto;    
}
.img-fluid {
    width: 240%;
    padding: 10px 10px 0 10px;
    display: block;
}
   
.weather-temperature {
    text-align: center;
    color: #9B77CF;
    padding: 47px 0; 
   
}

.weather-temperature .active {
    color: #9B77CF;
    cursor: default;
   


}

.weather-temperature .active:hover {
    text-decoration: none;

}

.units {
    position: relative;
    top: -30px;
    /* text-decoration: none; */
    font-size: 20px;
}

.units a {
    padding: 5px 10px;
    text-decoration: none;
}
.row {
    margin: -33px;
}

.weather-discription {
    background-color: #99547C;
    border-color: #99547C;
    border-radius: 30px;
    margin: 0 0 0 15px;
}

 #date,
 #current-time {
    font-size: 24px;
    text-align: center;
    line-height: normal;
    font-weight: 300;
 }

 #current-time {
    margin-bottom: 40px;
 }

 #temperature {
    font-size: 70px;
    width: 270px;
    font-family: 'Montserrat Alternates', sans-serif;  
    text-align: center; 
 }

 #dissription-weather {
    display: block;
    text-align: center;
    font-size: 30px;
    font-family: 'Montserrat Alternates', sans-serif; 
    padding-bottom: 40px;
    color: #D685B1;  
}

.footer a {
    color: #9a77cf;
    text-decoration: none;
}

.footer {
    color: #ffffff;   
}

.search-city {
    margin-top: 15px;
}
 .city-info {
    padding-top: 50px;
 }
   